/* =============================================
   Floral Accents - decorative flower PNGs
   Matching the reference layout
   ============================================= */

.floral {
    position: absolute;
    pointer-events: none;
    z-index: 5;
    object-fit: contain;
    user-select: none;
    opacity: 0;
    animation: floralFadeIn 1s ease-out forwards;
}

@keyframes floralFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* == Hero zone ==
   1.png (saffron) - big cluster top-right, partially cropped
   4.png (red stem) - bottom-left of hero */

.floral-hero-tr {
    top: 0;
    right: -30px;
    width: clamp(180px, 20vw, 320px);
    transform: rotate(-10deg);
    animation-delay: 0.2s;
}

.floral-hero-bl {
    bottom: 18%;
    left: -20px;
    width: clamp(120px, 14vw, 220px);
    transform: rotate(12deg);
    animation-delay: 0.5s;
    opacity: 0.85;
}

/* == Divider container == */
.floral-divider {
    position: relative;
    height: 0;
    overflow: visible;
    z-index: 6;
    pointer-events: none;
}

/* == After ShopByCategory ==
   2.png (coral lily) - tall, right side */
.floral-div-a-right {
    position: absolute;
    right: -20vw;
    top: -50vw;
    height: 40vw;
    transform: rotate(-5deg);
    opacity: 0.9;
}

.floral-div-a-left {
    position: absolute;
    left: -20vw;
    top: -20vw;
    height: 40vw;
    transform: rotate(15deg);
    opacity: 0.9;
}

/* == After PopularSection ==
   3.png (red poppies) - right side, 5.png (orange) - left side */
.floral-div-b-right {
    position: absolute;
    right: -20vw;
    top: -45vw;
    height: 38vw;
    transform: rotate(-10deg);
    opacity: 0.9;
}

.floral-div-b-left {
    position: absolute;
    left: -18vw;
    top: -18vw;
    height: 35vw;
    transform: rotate(12deg);
    opacity: 0.85;
}

/* == Popular section corners ==
   2.png top-right, 4.png bottom-left */
.floral-pop-tr {
    top: -10vw;
    left: 48%;
    transform: translateX(-50%) rotate(50deg);
    width: 40vw;
    opacity: 0.7;
    animation-delay: 0.15s;
}

.floral-pop-bl {
    bottom: 18vw;
    left: -15vw;
    height: 32vw;
    transform: rotate(80deg);
    opacity: 0.7;
    animation-delay: 0.3s;
}

.floral-pop-bl-1 {
    top: 60vw;
    right: -15vw;
    height: 32vw;
    transform: rotate(-80deg);
    opacity: 0.7;
    animation-delay: 0.3s;
}

/* == ShopGrid ==
   5.png (orange) - left side, 3.png (poppies) - right side */
.floral-shop-left {
    top: -5vw;
    left: -16vw;
    height: 35vw;
    transform: rotate(15deg);
    opacity: 0.8;
    animation-delay: 0.2s;
}

.floral-shop-right {
    bottom: -8vw;
    right: -18vw;
    height: 32vw;
    transform: rotate(-12deg);
    opacity: 0.75;
    animation-delay: 0.35s;
}

/* == Testimonial ==
   3.png (red poppies) - right side */
.floral-testimonial-br {
    bottom: -10vw;
    right: -20vw;
    height: 42vw;
    transform: rotate(-15deg);
    opacity: 0.75;
    animation-delay: 0.2s;
}

.floral-testimonial-br-1 {
    bottom: -10vw;
    left: -10vw;
    height: 42vw;
    transform: rotate(-15deg);
    opacity: 0.75;
    animation-delay: 0.2s;
}
/* == Newsletter ==
   5.png (orange hibiscus) - top-left accent */
.floral-newsletter-tl {
    top: -8vw;
    left: -14vw;
    height: 28vw;
    transform: rotate(18deg);
    opacity: 0.6;
    animation-delay: 0.15s;
}

/* == Responsive == */
@media (max-width: 768px) {
    .floral-hero-tr {
        width: 35vw;
    }

    .floral-div-a-right,
    .floral-div-a-left {
        height: 50vw;
        opacity: 0.7;
    }

    .floral-pop-tr {
        width: 55vw;
        opacity: 0.5;
    }

    .floral-pop-bl {
        height: 40vw;
        opacity: 0.5;
    }

    .floral-div-b-right,
    .floral-div-b-left {
        height: 45vw;
        opacity: 0.6;
    }

    .floral-shop-left,
    .floral-shop-right {
        height: 42vw;
        opacity: 0.5;
    }

    .floral-testimonial-br {
        height: 38vw;
        opacity: 0.5;
    }

    .floral-newsletter-tl {
        height: 35vw;
        opacity: 0.4;
    }
}